$headerFooter: #424242;
$backgroundColor: #F5F5F5; //gray
$red: #E64A19;
$blue: #1976D2;
$shadow: #888888;



body {
  background-color: $backgroundColor;
}

.navbar {
  background-color: $headerFooter;
}

.squares {
  background-color: $backgroundColor;
  box-shadow: 5px 5px 15px $shadow;
}

footer {
  background-color: $headerFooter;
}

.playerX {
  color: $red;
}


.playerO {
  color: $blue;
}
