$headerFooter: #424242;
$backgroundColor: #F5F5F5; //gray
$red: #E64A19;
$blue: #1976D2;
$shadow: #888888;



body {
  background-color: $backgroundColor;
}

//background to board and players
// .main, .players {
//   background-color: $blue;
// }

.navbar {
  background-color: $headerFooter;
}


.squares {
  background-color: $backgroundColor;
  box-shadow: 5px 5px 15px $shadow;
}

footer {
  background-color: $headerFooter;
}

.playerX {
  color: $red;
}

.playerO {
  color: $blue;
}

.playerXindic {
  border: 5px solid #E64A19;
}

.playerOindic {
  border: 5px solid #1976D2;
}

.bigLetters {
  color: #1976D2;
}
