$headerFooter: #424242;
$backgroundColor: #F5F5F5; //gray
$showSelectionRed: #E64A19;
$shadow: #888888;



body {
  background-color: $backgroundColor;
}

.navbar {
  background-color: $headerFooter;
}

.squares {
  background-color: $backgroundColor;
  box-shadow: 5px 5px 15px $shadow;
}

footer {
  background-color: $headerFooter;
}

.showSelection {
  background-color: $showSelectionRed;
}
