body {
  margin: 0 auto;
  height: 100%;
  padding-bottom: 0;
}

h3{
  text-align: center;
}
.jumbotron {
  padding-top: 100px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.players{
  padding-top: 25px;
}

.top-row,
.middle-row,
.bottom-row {
  margin: 0 auto;
  display: block;
  max-width: 400px;
}


.squares {
  margin: 5px;
  border: 1px solid black;
  border-radius: 100px;
  width: 100px;
  height:100px;
}

footer {
  height: 100px;
  bottom: 0;
  margin-top: 100px;
}

@media (max-width: 400px) {
  .squares {
    width: 100px;
    height:100px;
  }
  .top-row,
  .middle-row,
  .bottom-row {
    margin: 0 auto;
  }
}
/* make row funtions for squares in game board
.gameboard{
  @include make-row();
  .squares {
    @include make-xs-column(4);
    @include make-md-column(4);
  }
}
*/
